@page
@model alphaEventViewer.Pages.ImpressumModel
@{
    ViewData["Title"] = "Impressum";
}

<div id="eventItem-body" class="shadow-lg">
    <h3>Impressum</h3>
    <br/>
    <p>alphadata Gesellschaft für Softwareentwicklung,<br />
        Internet und Beratung mbH</p>
    <p>Pippelstein 1<br />
        51427 Bergisch Gladbach<br />
        Deutschland</p>
    <p>Geschäftsführer und verantwortlich gemäß §6 TDG:<br />
        Dipl.-Ing. Reinhard Hagen</p>
    <p>Mail: info@alphadata.de<br />
        Fon: +49-(0)2204 2007-0<br />
        Fax: +49-(0)2204 2007-11</p>
    <p>Amtsgericht Köln<br />
        HRB 46986</p>
    <p>UST-Ident-Nr.: DE191865531</p>
    <p>Haftungshinweis:<br />
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.<br />
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
</div>