@page
@using alphaEventViewer.Extensions
@{
    ViewData["Title"] = "Veranstaltung";
}


<div>
    <h1 id="welcome2"><b>AlphaEventViewer</b></h1>
</div>

<div>

    <div>
        <h4 id="welcome">Hinter die URL <b>'/'</b> und die <b>'EventItemId'</b> einfügen, um zum Event zu gelangen</h4><br>
    </div>
</div>

